<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sabuydy Lottery</title>
    <link rel="stylesheet" href="form.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="conference-logo" style="margin-top: 50px;">
        <div class="dot"></div>
        <div class="half-circle"></div>
    </div>

    <h2>Sabuydy Lottery</h2>
    <div class="download">
        <p>Please, download & install our mobile app "Sabuydy Lottery".</p>
        <button class="btn" id="download"><i class="fa fa-download"></i> Download</button>
    </div>
    <script src="/download.js"></script>
</body>

</html>