<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sabuydy Lottery</title>
    <link rel="stylesheet" href="form.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="link">
        <p>Thank you, <b>
                <%= data.username %>
            </b>.</p>
        <p>Your application is submitted.</p>
    </div>
    <div class="download">
        <p>Please, download & install our mobile app "Sabuydy Lottery".</p>
        <button class="btn" id="download"><i class="fa fa-download"></i> Download</button>
    </div>
    <script src="/download.js"></script>
</body>

</html>